In [1]:
import pandas as pd
import numpy as np
import csv
from calculatePhone import phonenumber

In [2]:
datafame = pd.read_csv('datacsv/phone.csv')
datafame

              Phone       HowToRead       Price  PriceUSD
0       09128702069  0912 870 20 69  10480000.0    349.33
1       09120202972  0912 02 02 972  13480000.0    449.33
2       09126591978  0912 65 919 78  12980000.0    432.67
3       09126470042  0912 64 700 42  15980000.0    532.67
4       09122266351  0912 22 66 351  35480000.0   1182.67
...             ...             ...         ...       ...
204407  09915097450  0991 50 974 50    400000.0     13.33
204408  09915036950  0991 50 369 50    400000.0     13.33
204409  09914023940  0991 40 239 40    400000.0     13.33
204410  09914027840  0991 40 278 40    400000.0     13.33
204411  09915028850  0991 50 288 50    400000.0     13.33

[204412 rows x 4 columns]

In [85]:
loop = 0
for phone in datafame['Phone']:
    loop += 1
    if phone.isdigit() == False:
        datafame.drop([loop], axis=0, inplace=True)
datafame

              Phone       HowToRead       Price  PriceUSD     Num
0       09128702069  0912 870 20 69  10480000.0    349.33       0
1       09120202972  0912 02 02 972  13480000.0    449.33       1
2       09126591978  0912 65 919 78  12980000.0    432.67       2
3       09126470042  0912 64 700 42  15980000.0    532.67       3
4       09122266351  0912 22 66 351  35480000.0   1182.67       4
...             ...             ...         ...       ...     ...
204407  09915097450  0991 50 974 50    400000.0     13.33  204407
204408  09915036950  0991 50 369 50    400000.0     13.33  204408
204409  09914023940  0991 40 239 40    400000.0     13.33  204409
204410  09914027840  0991 40 278 40    400000.0     13.33  204410
204411  09915028850  0991 50 288 50    400000.0     13.33  204411

[204274 rows x 5 columns]

In [86]:
loop = 0
listloop = []
for num in datafame["Phone"]:
    listloop.append(loop)
    loop += 1
datafame["Num"] = listloop
max(datafame["PriceUSD"])

40000.0

In [91]:
datafame_Num = np.random.choice(datafame["Num"], 1000)
datafame_Num

array([202605,  40208,   6868,  82236, 158687, 126209, 123760,  22144,
         4087,  49269,  42331,  45553,  87712,  97635, 153934,  47963,
         5272,  21014, 177434, 158660, 125544,  85676, 169033, 107734,
        60072,  52729, 130262,  29473,  75854, 199018,   7849, 202597,
       130569, 100320,  88057,  86344, 155541, 158946,  87102,  53643,
        27311, 140970, 111212, 185470,  49912,  70247,  36477,  26578,
       130729,  33312, 160587,  85123, 167336,  41792, 111812, 132068,
       117308,  13345,  15707, 119273,  29768, 123368, 183494,  42393,
        67896,  72108, 159524, 201300,  56182,  37409, 174757, 107285,
        99564,  21555, 147809, 191895,   5901, 135958, 188345,  76826,
         9291,  59723,  44124, 101754, 196155,  71861,  48243, 176732,
        35323,  93400,  61574,  16498,  29978,  47139,  41730, 169763,
         4702,  72715,  67457,  82795, 174891,  63084, 146706,  83646,
       151716, 123181,  36601,  34423, 153091,  13269,  78666, 179924,
       127013, 135098, 171341,  73095,  90764,   9734, 185684, 159154,
       130440, 200934, 181044, 197728, 154110,  72360,  74127,   4428,
        23566, 182883,  38754,   7223, 164196,  19086,  88411, 128750,
       122391, 161328, 104583, 132814,  73719,  30938,  77670,  41011,
        29642, 124664, 140503, 176631, 153683, 174058,  37012, 182145,
       166339, 134997,  16545,  21499,  78101, 164534, 100862, 158012,
       187441,  11581, 139299, 100228, 152515,  67093,  88846,  67359,
       184510,  35644, 146998, 183920, 182798, 111923,  21841, 118261,
        77218, 112057, 183773, 108805, 196188, 151682, 174986,  86095,
       176378, 136439, 120361, 182313, 163610, 133367, 155425,  17858,
        74632, 189230, 148142,  72179,  72435,  17750, 140779,  34533,
        65370,  88498,  17124,  21959,  69785, 190955, 156902,  35259,
       194155, 162234, 137930,  38086,  82503,  27466,  97822,  77102,
        67801, 184035, 149170, 167174, 159490, 153777,  23032,  97703,
       186351, 118633, 193836, 100651,  66197,  99663, 132811,  61649,
       104900,  94634,  34984,  29758,  26212,  76657, 155167, 203374,
        81114, 158414, 146138,  67961, 158827, 177418,   3147, 185519,
        56096,  57419,  22222, 192957,   6985, 104255,  22328, 201253,
        18202, 184061,  44702, 177405, 137606,  98306, 184926, 167638,
       175935, 101218, 160601,  83375, 110386, 149520,  79031, 134806,
       181102, 197736,  59782, 121276, 135332,  50996,  96917,  90772,
       120295, 174858, 154865, 100034,  45091, 189662, 173176, 167541,
        99455,   1358, 130353, 193937, 104118, 136873,  64687, 138073,
        55215, 101222, 160674,  89406,  43088, 123741,  47997, 116819,
       156025,  22196, 128867, 126275, 170336, 123821,  85571, 188725,
       149655, 176325, 106772,  85874, 161986, 200903,  69936,  25610,
        25918,  22423,   2365,  73986,  58524,  10223,  54451,  76522,
        13818,  58312,  30884,  29483,  74086, 168262, 200302, 151663,
       202847, 172295, 163510, 150915,  78627,  62589, 100019, 100542,
        43411,  21293,  75943, 191062, 102588, 115082,  92903,  10482,
       199327, 166058, 157128,  12180, 114317, 105438,   7872, 145471,
       174640,  68182, 185907, 158825, 103716,  64746,  43486, 142835,
       192456, 193760,  34781,  73912, 121961, 120687, 163169,  16323,
        33330,  88008, 118539,  23855,  30490,  38225,  23785,  84316,
       135123,   5901,  69566,  59772,  13609,  80996, 167584, 130240,
       179338, 133258,  62137, 107881, 183253,  69274,  85156, 200369,
        52489, 166815, 185113, 167331,  93373, 133539, 147792,  31043,
       175146,  51828,   5917,  89016, 140191, 172931,  32457, 190768,
       146955,   1732, 135802,  54763,  83250, 145094,  30999, 164724,
        55347, 203222,  96928, 147344, 122035, 154531,  34489,   7864,
        40294,  73961, 147205,  58733,  13586, 182468, 184560, 142733,
       155122,  81461,  19694,  39939,   1599, 169546, 199617,  16926,
       141603, 197092,   7183, 115813,  92235,  48362,   6946, 137808,
        43711,  14497, 203334, 183867,  63124, 163542,  28252,  33712,
       166113,  19381,  56260,  12666,  66834,  86967,   3406,  83830,
         5871,  61616,  97516, 119220, 102259, 182030,  44671, 187653,
       175119,  71259,  43705,  23289,  89038, 127161, 140681,   6368,
        50951,  23694,  78865,  79885, 109578,   1072,    521,  27362,
       196536, 164288, 119848, 167027, 117626,  38736,  44045,  62226,
        39538,  52767,  76662, 196272,   5621,  78249, 118115,  24240,
        43360, 116148,  94242,  11603, 185861, 162870,  79078, 160979,
          502, 156248, 118828, 179167,  97500, 144893, 198112, 107610,
        64326, 177028, 146254,  27232,   3085,  16072, 136040,  17646,
       136196, 165055, 126595, 132178,  29100,  10467,  75706,  28762,
       106007,  36010, 174442,  74360,  90264,  51989,  50988, 174773,
       108463, 130191, 175442,  95129, 111528, 190375, 118969, 193112,
        98907,  28211,  66550, 138219, 130446,  67522,  64839,  58427,
       201486,  23533,  55481, 140076, 194710, 133447, 112943,  14823,
       174925, 173186, 166808, 170451, 179465,  82591,  34580, 120748,
         3415,  84737,  19387, 120227,  71221, 100122,  35181, 198806,
       191385, 119166,  27869,  61772,  77645, 128778, 157535,  22412,
       115669, 194264,  96199, 122998, 191986, 155575,  62021,  30205,
       203158, 149233, 131053,  96234,  54166, 129621,  26010, 190870,
       154693, 179628, 110579,  84852, 127770, 115662, 201240,  85694,
         7403, 167240, 110850,  86222,  82336, 135350, 163159,  21220,
        33865, 174551,  53315,  89446, 105461,  57955, 125541, 153548,
       131037,   6210, 170080,  24423,  65847, 196607,  84628,  32182,
        25545,   4369,  90846, 125027,  11670,  60496, 187907,  15081,
        82108,  18218, 154256, 116072, 107606,  28809,  36565,  77157,
       194711,  72999,  52058, 197571,  82695,  38728, 143991,  62823,
       137632, 113904, 174099, 139901,  37453,  65083, 108070,  82100,
         4546,  34683, 140625, 137118,  58659, 122628,  86134,  33444,
       132958,  97111,  91090,   4953,  44897,  21332,  25631,  53002,
       170404, 143007, 198751,  73564, 189191,  20827,  56368, 120406,
       146350, 176364,  84844,  19831,  83570, 203953,  27044, 128308,
       128989, 166148, 199574,  44261,  64697, 134010,  67312,  22421,
        13998,  80255, 122376, 158857, 193212,  18018, 106752,  93910,
       100670,  95014,  67835,   8875, 115286,  53245,  58078, 139216,
       105505, 112772, 115022, 143687, 112120, 100968, 145299,  84069,
        34289, 112869,  14921,  34790,  67653, 125338, 133018, 185117,
        91066,   6832,  17313, 109768,   6875, 109803, 102783, 113781,
       199529, 139509, 132991, 163481,  27606, 188734, 106766,  73070,
       104030,  67929, 184605,  39619, 121662, 135528, 188671, 138724,
        35243, 190695,  10848,  19284,  40296, 135004, 199287, 196083,
       150972,  81630, 101965,  27367, 141974,  17595, 139308,  13304,
        53731,   2434,  67326, 145941,  76422,  23100,  71462,  38435,
       197288,  52911,  50633,  40834, 135690,  23511, 139020, 150130,
       111581,   8129,   6628,  79141,  75266,  52160, 174720,  43890,
         5580,  11218,  34604,  90270, 182897, 119204, 196619,   1680,
       172972,  60450,  70495,   8581, 117913, 129280, 183107,   3057,
        49212, 157472, 160208,  81373, 116297, 135753,  69574, 191806,
       188272, 136262,   9760,  95617,  89282, 202008, 133810,  58442,
       147454, 177160,  17783,   5039, 155547, 119651,   8042,  86816,
        32242, 139052, 100311,  94682,  47773, 134677,  90772,  31349,
       119117,  28611,  31893,  97760, 122224, 142183, 158557,  49208,
        91005, 165228,  78537,  31587, 164035, 119657, 163364, 181672,
       117666, 101560,  37451,  49537,  55007, 116854,  79499, 160298,
       114253,  69545,  82706,  37605, 115012, 169955, 178979, 182471,
        30750, 165851,  28222, 185097, 147729,  67944,  72777, 127078,
       110860,  38241,  43381, 134598,  81190,  37208, 115214,  36933,
        73442, 194737, 187619,  25279,   4554, 124899, 203162,  69679,
        67544,  28712,   8887, 167510,  58538, 131219, 145115, 191147,
        47884,  12844, 194761,  54077,  18952, 203477, 105022, 151604,
       193490,  49366,  14713, 145932,  32871, 174326,  56085,  32612,
        63917,  30928, 114260, 189996, 121268, 179664, 141443, 150759,
       150798, 197551, 175708, 140091, 148799, 161023,  94444,  24550,
        38108, 178078, 154043,  59033,  75943, 109051,  35238, 155545,
       202194, 123012, 170040, 200169,  28280,  77230, 103643, 182304,
       110131,  97511,  46949, 100993, 114323, 197789, 155092, 168987,
        88428, 117030,  65736, 107444, 154270, 112733, 159704,  20092,
        33297,  47409, 174222,  58208, 103539, 163378,  46687,  21297],
      dtype=int64)

In [96]:
with open('datacsv/categoriesphone.csv', mode='w', encoding='utf-8') as csv_file:
    fieldnames = ['phone', 'price', 'double_num', 'category']
    writer = csv.DictWriter(csv_file, fieldnames=fieldnames)
    writer.writeheader()
    for item in datafame_Num:
        price = int(datafame['PriceUSD'][item] * 30)
        total, mean_num, sum_percent, insum_percent, double_num, mean_duo_af, categorys = phonenumber(datafame["Phone"][item][:10])
        writer.writerow({'phone': str(datafame["Phone"][item][:10]), 'price': price, 'double_num': double_num, 'category': categorys})